<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>欢迎查看各组奖励情况</title>
</head>
<body>
 <!--   <h1>欢迎查看各组奖励情况</h1>
 #   <hr>
 #   {{ posts }}
  #  <hr>
 #   <h3> 现在时刻：{{ now }}</h3>  -->

    <h1>欢迎查看各组奖励情况</h1>
    <hr>
    {% for post in posts %}
     <!--   <p style="font-family: 'Microsoft Sans Serif';font-size: 16pt;font-weight: bold;">
            {{ post.title }}
        </p>
        <p style="font-family: 'Microsoft Sans Serif';font-size: 10pt;letter-spacing: 1pt;">
            请客次数：<font color="#dc143c">{{ post.body }} </font>
        </p>
        <p style="font-family: 'Microsoft Sans Serif';font-size: 16pt;font-weight: bold;">
            {{ post.title }}
        </p>       -->
        <p style="font-family: 'Microsoft Sans Serif';font-size: 10pt;letter-spacing: 1pt;">
            <a href="/post/{{ post.slug }}"><font color="#dc143c">{{ post.title }} </font></a>
        </p>
    {% endfor %}
    <hr>
    <h3> 现在时刻：{{ now }}</h3>

</body>
</html>